<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.onlylemi.mapview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:name=".DemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="reverseLandscape"
            android:theme="@style/AppTheme.Boot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MapLayerTestActivity"
            android:screenOrientation="reverseLandscape"
            android:label="MapLayerTest">
        </activity>
        <activity
            android:name=".LocationLayerTestActivity"
            android:label="LocationLayerTest">
        </activity>
        <activity
            android:name=".BitmapLayerTestActivity"
            android:label="BitmapLayerTest">
        </activity>
        <activity
            android:name=".MarkLayerTestActivity"
            android:label="MarkLayerTest">
        </activity>
        <activity
            android:name=".RouteLayerTestActivity"
            android:label="RouteLayerTest">
        </activity>
    </application>

</manifest>